.form {
    &__input {
        outline: none;
        border: none;
        border-radius: vc(90);
        padding: vc(16) vc(30);
        font-weight: 400;
        font-size: vc(14);
    }

    &__box-icon {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: absolute;
        right: vc(30);
        width: vc(14);
        height: vc(14);
    }
}
