.button {
    $p: &;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: vc(90);
    padding: vc(16) vc(40);
    font-weight: 600;
    font-size: vc(15);
    line-height: vc(18);
    text-align: center;
    transition: background-color $transition, color $transition;

    svg {
        width: vc(15);
        height: vc(15);
    }

    &__anime {
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    &__primary {
        color: $color-white;
        background-color: $color-orange;

        svg {
            fill: $color-white;
        }

        &-outline {
            border: 1px solid $color-orange;
            color: $color-orange;
            background-color: transparent;

            &:hover {
                border: 1px solid $color-black;
                color: $color-white;
                background-color: $color-black;
            }

            svg {
                fill: $color-orange;
            }

            &#{$p}__anime {
                animation-name: animePrimary;
            }
        }

        &:hover {
            background-color: $color-black;
        }

        &#{$p}__anime {
            animation-name: animePrimary;
        }
    }

    &__check {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;

        &:checked + .button__primary {
            background-color: $color-black;
        }
    }
}

@keyframes animePrimary {
    0% {
        box-shadow: 0 vc(5) vc(50) vc(20) rgba($color-orange, 0);
    }

    50% {
        box-shadow: 0 vc(5) vc(50) vc(20) rgba($color-orange, 0.4);
    }

    100% {
        box-shadow: 0 vc(5) vc(50) vc(20) rgba($color-orange, 0);
    }
}
