:root {
    --width-base: #{$laptop};
    --width-current: #{$laptop} * 1px;
    --width-multiplier: var(--width-current) / var(--width-base);
    --swiper-pagination-color: #{$color-orange};
    --swiper-theme-color: #{$color-orange};

    @include laptop {
        --width-current: 100vw;
    }

    @include devices {
        --width-base: #{$mobile};
        --width-current: 100vmin;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: $font-primary;
    scroll-behavior: smooth;

    &.has-cursor,
    &.has-cursor * {
        // stylelint-disable-next-line
        cursor: none !important;
    }

    &.is-lock-scroll,
    &.is-lock-scroll body {
        overflow: hidden;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    text-decoration-skip: objects;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

main {
    flex: 1;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

a,
button {
    outline: none;
    transition: $duration-normal;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

svg {
    display: block;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

figure,
picture {
    display: inline-block;
    margin: 0;
    line-height: 0.75;

    img {
        width: 100%;
    }
}

img {
    vertical-align: top;
    max-width: 100%;
    user-select: none;
}

img[draggable="false"] {
    pointer-events: none;
    // stylelint-disable-next-line
    -webkit-user-drag: none;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

video {
    outline: none;
    width: 100%;
    height: 100%;
}

iframe {
    display: block;
}

hr {
    margin: 0;
    border: none;
    height: vc(1);
    background-color: $color-black;
}

.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    // stylelint-disable-next-line
    max-width: vc(1200);

    @include devices {
        padding: 0 vc(15);
    }
}

.site {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh; // fallback
    // stylelint-disable-next-line
    min-height: var(--vh);
}

.image {
    overflow: hidden;
    border-radius: $border-radius;
    width: 100%;
    max-height: 100%;
    object-fit: contain;

    &-max-h {
        max-height: 60vh;
    }
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        animation-duration: 0.001s !important;
        animation-delay: 0s !important;
        transition-duration: 0.001s !important;
        transition-delay: 0s !important;
    }
}

/* stylelint-enable */

.section {
    padding: vc(70) 0 0 0;

    &:last-of-type {
        padding: vc(70) 0;
    }
}
