// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS https://www.htmlcsscolor.com/hex/334482
$color-black: #000;
$color-white: #fff;
$color-gray: #1f1f1f;
$color-gray2: #303030;
$color-gray3: #181818;
$color-gray4: #141414;
$color-gray5: #4b4b4b;
$color-gray6: #1a1a1a;
$color-light: #b7b7b7;
$color-light-grey: #d0d0d0;
$color-orange: #f8991d;
$color-orange-dark: #e06810;
$color-green: #8cc851;
$color-ace: #f8f8f8;
$color-ace2: #ebedf4;

// FONTS
// stylelint-disable-next-line
$font-primary: "Gilroy", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.3s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1); // https://easings.net/ru#easeInOutQuart
$easing-out: ease-out;
$easing-in: ease-in;

$transition: $duration-normal $easeInOutQuart;

// Settings
$desktop-xl: 1800;
$laptop: 1440;
$desktop: 1024;
$tablet: 768;
$mobile: 375;
$desktop-vh: 750;

$border-radius: vc(10);
$box-shadow: 0 vc(4) vc(13) rgba($color-black, 0.15);
