.typography
    h1.h1 Lorem ipsum dolor sit amet
    h2.h2 Lorem ipsum dolor sit amet
    h3.h3 Lorem ipsum dolor sit amet
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, incidunt maiores. Aperiam, asperiores deserunt dignissimos distinctio ducimus enim expedita laborum nobis nulla possimus quo quos sit, ut. Eaque, maxime repellendus!
    ul
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
