.h1 {
    font-weight: 700;
    font-size: vc(40);
    line-height: vc(48);
}

.h2 {
    font-weight: 700;
    font-size: vc(30);
    line-height: vc(36);
}

.h3 {
    font-weight: 600;
    font-size: vc(24);
    line-height: vc(28);
}

p {
    font-weight: 400;
    font-size: vc(16);
    line-height: vc(24);
}

small {
    font-weight: 300;
    font-size: vc(16);
    line-height: vc(18);
    opacity: 0.5;
}
