.h1 {
    font-weight: 700;
    font-size: vc(40);
    line-height: vc(48);

    @include devices {
        font-size: vc(30);
        line-height: vc(36);
    }
}

.h2 {
    font-weight: 700;
    font-size: vc(30);
    line-height: vc(36);

    @include devices {
        font-size: vc(24);
        line-height: vc(28);
    }
}

.h3 {
    font-weight: 600;
    font-size: vc(24);
    line-height: vc(28);

    @include devices {
        font-size: vc(16);
        line-height: vc(24);
    }
}

p {
    margin-bottom: vc(20);
    font-weight: 400;
    font-size: vc(16);
    line-height: vc(24);
}

small {
    font-weight: 300;
    font-size: vc(16);
    line-height: vc(18);
    opacity: 0.5;
}

ul {
    margin-bottom: vc(20);

    li {
        position: relative;
        margin-bottom: vc(16);
        padding-left: vc(12);
        font-size: vc(16);
        line-height: vc(24);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: vc(9);
            overflow: hidden;
            border-radius: 100%;
            width: vc(6);
            height: vc(6);
            background-color: $color-orange;
        }
    }
}

p,
ul {
    &:last-child {
        margin: 0;
    }
}

.lead {
    font-weight: 400;
    font-size: vc(30);
    line-height: vc(25);
}
