.basket {
    min-width: vc(800);

    &__title {
        .image {
            display: flex;
            flex-shrink: 0;
            max-height: vc(130);
            max-width: vc(130);

            @include devices {
                max-height: vc(75);
                max-width: vc(75);
            }
        }

        &-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin: 0;
            min-width: vc(130);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        a {
            color: $color-black;

            &:hover {
                color: $color-orange;
            }
        }
    }

    &__title,
    &__count,
    &__weight,
    &__price,
    &__cost,
    &__remove {
        vertical-align: middle;
        text-align: center;
    }


    &__price,
    &__count {
        white-space: nowrap;
    }

    &__box {
        display: flex;
        gap: vc(15);
    }
}
