.product {
    $p: &;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    padding: vc(25);
    height: 100%;
    box-shadow: $box-shadow;

    p {
        margin: 0;
    }

    &__image {
        display: flex;
        justify-content: center;
        margin-bottom: vc(22);
        width: 100%;
        height: 100%;
        max-height: vc(150);
        opacity: 1;
        transition: opacity $transition;

        img {
            object-fit: contain;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__statys {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            flex-shrink: 0;
            margin-right: vc(8);
            margin-left: vc(4);
            border-radius: 100%;
            width: vc(8);
            height: vc(8);
            box-shadow: 0 0 0 vc(4) rgba($color-green, 0.2);
            background-color: $color-green;
        }

        &--green {
            &::before {
                box-shadow: 0 0 0 vc(4) rgba($color-green, 0.2);
                background-color: $color-green;
            }
        }

        &--red {
            &::before {
                box-shadow: 0 0 0 vc(4) rgba($color-orange-dark, 0.2);
                background-color: $color-orange-dark;
            }
        }
    }

    &__title {
        margin-bottom: vc(15);
        font-weight: 500;
        font-size: vc(16);
        line-height: vc(19);
        text-align: center;
        text-decoration: none;
        color: $color-black;
        transition: color $transition;

        &:hover {
            color: $color-orange;
        }
    }

    &__price {
        margin-top: auto;
        margin-bottom: vc(15);
        text-align: center;

        p {
            font-weight: 600;
            font-size: vc(24);
            line-height: vc(29);
        }
    }

    &__sklad {
        position: absolute;
        left: vc(20);
        top: vc(20);
        display: flex;
        justify-content: center;
        width: vc(77);

        #{$p}__statys {
            &::before {
                margin: 0;
            }

            span {
                margin-left: vc(8);
                font-size: vc(12);
            }
        }
    }

    &__line {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: vc(1) solid $color-gray;
        border-radius: 0;
        padding: vc(15);
        height: auto;
        box-shadow: none;

        #{$p}__sklad {
            position: relative;
            left: auto;
            top: auto;

            #{$p}__statys {
                span {
                    display: none;

                    @include devices {
                        display: block;
                    }
                }
            }

            @include devices {
                position: absolute;
                left: vc(15);
                top: vc(15);
                width: auto;
            }
        }

        #{$p}__title,
        #{$p}__price,
        #{$p}__button,
        #{$p}__image, {
            margin: 0;
        }

        #{$p}__image {
            width: vc(60);
            height: vc(60);
        }

        #{$p}__price {
            flex-shrink: 0;
            width: vc(135);
            text-align: center;

            p {
                font-weight: 500;
                font-size: vc(18);
                line-height: vc(21);
            }
        }

        #{$p}__title {
            width: vc(263);
            font-weight: 400;
            text-align: left;
        }

        #{$p}__button {
            width: vc(176);

            .btn {
                width: 100%;
            }
        }

        @include devices {
            flex-wrap: wrap;
            justify-content: center;
            gap: vc(15);

            #{$p}__title {
                text-align: center;
            }
        }
    }

    &__card {
        #{$p}__title {
            p {
                font-weight: 600;
                font-size: vc(20);
                line-height: vc(24);
            }
        }
    }
}
