.commodity {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: vc(50);
    width: 100%;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--two {
            flex-wrap: wrap;
            gap: vc(30);

            > * {
                flex: 0 1 calc((100% / 2) - vc(30));

                @include devices {
                    flex: 0 0 auto;
                }
            }
        }

        @include devices {
            flex-direction: column;
            align-items: normal;
            gap: vc(20);
        }
    }

    &__gallery {
        position: relative;
        flex: 0 0 auto;
        grid-area: gallery;
        margin-right: vc(25);
        width: vc(600 - 25);
        height: 100%;
        max-height: vc(400);

        #msGallery {
            position: relative;
            width: 100%;
            height: vc(400);
            max-width: 100%;
        }

        .swiper-container,
        .swiper-slide {
            display: inherit;
        }

        .swiper-slide {
            max-width: 100% !important;
        }

        @include devices {
            margin: 0;
            width: 100%;
        }
    }

    &__swiper {
        width: 100%;
        height: vc(300);

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-thumbs {
            width: 100%;
            height: vc(100);

            .swiper-slide {
                img {
                    object-fit: contain;
                }
            }
        }
    }

    &__info {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        grid-area: info;
        margin-left: vc(25);
        border-radius: vc(10);
        padding: vc(30);
        width: vc(600 - 25);
        background-color: $color-ace;
        gap: vc(20);

        .button {
            margin-left: auto;

            @include devices {
                width: 100%;
            }
        }

        @include devices {
            margin: 0;
            width: 100%;
        }
    }

    &__logo {
        max-width: 50%;

        &-img {
            display: inline-flex;
            max-height: vc(100);
        }

        @include devices {
            width: 100%;
            max-width: 100%;
        }
    }

    &__description {
        flex: 0 0 100%;
        width: 100%;
    }

    &__options {
        display: grid;
        grid-template: 1fr / 1fr  1fr;
        gap: vc(10) vc(60);

        @include devices {
            grid-template: 1fr / 1fr;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: vc(1) dashed $color-black;
        gap: vc(15);

        p {
            margin-bottom: vc(5);
            width: 50%;
        }
    }

    &__price {
        align-self: flex-start;

        span {
            font-weight: 500;
            font-size: vc(30);
            line-height: vc(35);
            letter-spacing: vc(1);
            color: $color-orange;
        }
    }

    &__payer {
        margin-bottom: vc(15);

        p {
            margin: 0;
        }

        img {
            max-width: vc(160);
        }

        .small {
            margin-top: vc(15);
            opacity: 0.5;
            font-size: vc(12);
            font-weight: 400;
            line-height: vc(14);
        }

        @include devices {
            margin: vc(15) 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include devices {
        flex-direction: column;
    }
}
