extends @pug/base

prepend vars
    //-
    - title = 'Техника для склада купить в Санкт-Петербурге цена складской техники'
    - description = 'Техника для склада в Санкт-Петербурге цена складской техники на сайте компании «СПЕЦМАШИНА». Продажа и обслуживание вилочных погрузчиков и складтехники.'
    - image = '/images/share/share.jpg' // url картинки для шера

append vars
    - link.appleTouchIcon180x180 = 'favicon/apple-touch-icon.png'
    - link.icon32x32 = 'favicon/favicon-32x32.png'
    - link.icon16x16 = 'favicon/favicon-16x16.png'
    - link.manifest = 'favicon/site.webmanifest'
    - link.maskIcon.href = 'favicon/safari-pinned-tab.svg'
    - link.maskIcon.color = '#5bbad5'
    - meta.msapplicationTileColor = '#da532c'
    - meta.msapplicationTileImage = 'favicon/mstile-144x144.png'
    - meta.themeColor = '#ffffff'

block content
    .bg-overflow.is-hidden
    .modal(data-modalid="23")
        .modal__close
            +svg("close")
        .modal__content
            p 23
    .modal(data-modalid="1")
        .modal__close
            +svg("close")
        .modal__content
            p 1
    .site
        include @components/header/header
        main
            include @components/intro/intro
            .container.demo-container
                a(href="#" data-modal="23").button.button__primary modal 23
                a(href="#" data-modal="1").button.button__primary modal 1
                include @components/buttons/buttons
                include @components/typography/typography
                .product__filter
                    p Фильтры
                .row.row__3.row__device-1
                    .contact__item
                        .contact__icon
                            +svg("pin")
                        .contact__info
                            .contact__subtitle Адрес:
                            .contact__title Санкт-Петербург, Кубинская улица, 80Б
                    .contact__sklad
                        .contact__icon
                            +svg("pin")
                        .contact__info
                            .contact__title Санкт-Петербург
                            a.contact__link.map-control__link#pin-0 Показать на карте

                .row
                    +map-geography('geography-map.json')
                script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=34ea04b1-8ce5-4e4d-ad93-84aef74e8748")
                .form__box-icon
                    +svg("arrow-down").form__icon
                    select.form__select.product__select
                        option dkfkdf
                        option dkfkdf
                        option dkfkdf
                .row.row__3.row__device-1.pt-30.pb-30.gap-15
                    +box-link
                    +box-link
                    +box-link
                    +box-link
                    +box-link
                    +box-link
                include @components/sentence/sentence
                .half
                    .text
                        p.h1 Запчасти, шины и тяговые АКБ для погрузчиков!
                        p Во время эксплуатации погрузчиков и прочего оборудования необходимо регулярно проводить техническое обслуживание. Зачастую ремонт погрузчиков требует новых запчастей на замену старым. В данной ситуации покупка подходящих деталей выбор не из простых, нужно найти проверенного продавца.
                        p Компания «СПЕЦМАШИНА» предлагает запчасти для вилочных погрузчиков от лучших мировых поставщиков. У нас Вы найдете – высокое качество, квалифицированный подход специалистов и быстрый заказ всех необходимых изделий.
                    +lazyImage({
                        src: `${baseDir}assets/images/box-link/box.png`,
                        alt: '',
                        appear: false,
                    }).image
                +slider-logo
                +slider-logo
                .demo__col
                    +product
                    +product
                    +product
                    +product
                .demo__row
                    +product.product__line
                    +product.product__line
                    +product.product__line
                    +product.product__line
                    +product.product__line
                .demo__half
                    +product.product__line
                    +product.product__line
                    +product.product__line
                    +product.product__line
                .demo__col
                    +productTwo.product__card
                    +productTwo.product__card
                    +productTwo.product__card
                    +productTwo.product__card
                include @components/contact-box/contact-box
                include @components/commodity/commodity
                +brand({
                    src:`${baseDir}assets/images/brand/jungheinrich.png`
                })
            include @components/request/request
            include @components/social/social




        include @components/footer/footer
