.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2100;
    display: flex;
    align-items: center;
    padding: vc(20) 0;
    color: $color-white;
    //background-color: rgba($color-gray, 0.5);

    &__container {
        display: flex;
        align-items: center;
    }
}
