.contact-box
    .contact-box__item
        a(href="mailto:zakaz@cartrac.ru").contact-box__title
            +svg('icon-email').contact-box__icon
            | zakaz@cartrac.ru
        a(href="mailto:zakaz@cartrac.ru").link.contact-box__write Написать нам
    .contact-box__item
        a(href="tel:+78003501460").contact-box__title
            +svg('icon-pnone').contact-box__icon
            | +7 (800) 350-14-60
        p c 10.00 до 22.00
