$max: 100;
$offset: 5;

@mixin list-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
        #{$className + $i} {
            #{$styleName}: vc(#{$i}) !important;
        }
        $i: $i + $offset;
    }
}

// Margins
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.ml-', 'margin-left');
@include list-loop('.mx-', 'margin');
// Paddings
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pl-', 'padding-left');
@include list-loop('.px-', 'padding');
//gap
@include list-loop('.gap-', 'gap');
@include list-loop('.gap-r-', 'row-gap');
@include list-loop('.gap-c-', 'column-gap');

@include desktop {
    // Margins
    @include list-loop('.mt-md-', 'margin-top');
    @include list-loop('.mr-md-', 'margin-right');
    @include list-loop('.mb-md-', 'margin-bottom');
    @include list-loop('.ml-md-', 'margin-left');
    @include list-loop('.mx-md-', 'margin');
    // Paddings
    @include list-loop('.pt-md-', 'padding-top');
    @include list-loop('.pr-md-', 'padding-right');
    @include list-loop('.pb-md-', 'padding-bottom');
    @include list-loop('.pl-md-', 'padding-left');
    @include list-loop('.px-md-', 'padding');
    //gap
    @include list-loop('.gap-md-', 'gap');
    @include list-loop('.gap-r-md-', 'row-gap');
    @include list-loop('.gap-c-md-', 'column-gap');
}
